VITE_APP_RUNTIME=mock
VITE_ENABLE_PWA=true
VITE_USE_FIREBASE_EMULATORS=false
VITE_ALLOWED_EMAILS=primary.gardener@example.com,partner.gardener@example.com
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_MESSAGING_VAPID_KEY=
VITE_FIREBASE_APP_ID=
APP_LOGIN_PRIMARY_EMAIL=
APP_LOGIN_PARTNER_EMAIL=
APP_LOGIN_PRIMARY_TEMP_PASSWORD=
APP_LOGIN_PARTNER_TEMP_PASSWORD=
VITE_FIREBASE_EMULATOR_HOST=127.0.0.1
VITE_FIREBASE_AUTH_EMULATOR_PORT=9099
VITE_FIREBASE_FIRESTORE_EMULATOR_PORT=8080
VITE_FIREBASE_FUNCTIONS_EMULATOR_PORT=5001
VITE_FIREBASE_STORAGE_EMULATOR_PORT=9199
TREFLE_API_TOKEN=
TOMORROW_API_KEY=
ENABLE_TOMORROW_WEATHER=false
NWS_USER_AGENT=
VITE_ENABLE_TOMORROW_WEATHER=false
VITE_TOMORROW_API_KEY=
